@import "~bootstrap/dist/css/bootstrap.min.css";

.center{
    text-align: center;
    size:20px;
}
.row1{
    margin-bottom: 20px;
}
.pcontainer{
    
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}
.step {
display:inline;
margin:30px;
text-align: center;
padding: 10px;
background-color: #f0f0f0;
border-radius: 5px;
border:black;
}

.active {
    background-color:  rgb(94, 23, 94);
    color: white;
}
.step-number.completed{
    background-color:  rgb(94, 23, 94);
    color: white;
  }

.labels{
    font-size: small;
    
}
.form-select{
    justify-content: center;
   
   
}
.form-group{
    justify-content: center;
    
}
.card{
    align-items:center;
    width:900px;
}
